<!-- Tabla para mostrar el resultado de la peticion get 
style="font-size: 11px;border-color:aqua"
-->
<div class="container" >
  <button type="button" class="btn btn-secundary" style="margin:1em;" (click)="mostrarConsola()">Probar PostService</button>
<table  class=" table "> 
 
    <thead>
        <tr >
          <th scope="col">Id</th>
          <th scope="col">User</th>
          <th scope="col">TITULO</th>
          <th scope="col">CONTENIDO</th>
          <th scope="col">Acciones</th>
        </tr>  
    </thead>

    <tbody>
      <tr *ngFor="let post of posts" >
        <td scope="row">  {{  post.id }} </td>
        <td >  {{ post.userId}} </td>
        <td >  {{post.title}}  </td>
        <td >  {{post.body}} </td>
        <td > <button type="button" class="btn btn-primary" (click)="onPostSelected(post.id)">Mostrar Comentarios</button> </td>
      </tr>
    </tbody>

</table>
</div>
<!-- 
<p *ngFor="let post of posts" style="font-size: 11px">
  <b>Titulo:</b>{{post.title}}
  <br/>
  <b>Body:</b>{{post.body}}
  <br/>


</p> -->